In [1]:
import pandas as pd
import numpy as np

In [3]:
df1 = pd.read_csv("Data/Fake.csv")
df2 = pd.read_csv("Data/True.csv")

In [5]:
df1.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [7]:
df2.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [9]:
df1["target"] = 1
df2["target"] = 0

In [11]:
df1.head()

,title,text,subject,date,target
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",1
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",1
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",1
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",1
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",1

In [13]:
df2.head()

,title,text,subject,date,target
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",0
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",0
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",0
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",0
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",0

In [15]:
df = pd.concat([df1,df2],ignore_index=True)

In [21]:
df.sample(5)

,title,text,subject,date,target
13798,CAUGHT ON CAMERA! ANTI-TRUMP THUGS Stoop To Ne...,The anti-Trump protesters stoop to a new low a...,politics,"May 29, 2016",1
24778,Trump's not-so-quick fix to undo Obamacare,NEW YORK (Reuters) - President Donald Trump on...,politicsNews,"October 12, 2017",0
19088,THIS IS OKAY? Loudmouth Entertainer Who Got Mi...,Nothing is off-limits for Leslie Jones stand-...,left-news,"Feb 25, 2017",1
13556,WHOA! DNC Releases Statement Suggesting Dallas...,"Of course tomorrow morning, the Democrat Party...",politics,"Jul 8, 2016",1
34867,Mexican police arrest suspect in crime journal...,MEXICO CITY (Reuters) - A man alleged to be be...,worldnews,"December 26, 2017",0

In [29]:
final = df.sample(frac=1)

In [31]:
final.head(10)

,title,text,subject,date,target
21167,GERMAN RESIDENTS FIGHT BACK: Anti-Islamic Song...,Apparently these Germans are not interested in...,left-news,"Jan 3, 2016",1
15449,(VIDEO) BRAVO! TV HOST SCORCHES OBAMA FOR HIS ...,I VE HAD IT!,politics,"Jul 20, 2015",1
36358,Greek president tells Turkey's Erdogan no trea...,ATHENS (Reuters) - Greek President Prokopis Pa...,worldnews,"December 7, 2017",0
2402,Colbert Scorches Trump’s Anti-Trans Bigotry; ...,"During his campaign, Donald Trump promised tha...",News,"February 24, 2017",1
28380,"Pentagon chief, Saudi deputy crown prince disc...",WASHINGTON (Reuters) - U.S. Defense Secretary ...,politicsNews,"March 16, 2017",0
7608,Meet The ‘Responsible Gun Owner’ Who Was Shot...,Meet Florida resident Jamie Gilt. Everyone sa...,News,"March 9, 2016",1
22879,What’s the Leading Killer of American Adults U...,"21st Century Wire says Last April, the UN gene...",Middle-east,"June 8, 2017",1
42165,More than 60 Rohingya feared drowned as U.S. s...,"COX S BAZAR, Bangladesh/UNITED NATIONS (Reuter...",worldnews,"September 29, 2017",0
27303,Trump will not visit FBI headquarters: MSNBC,WASHINGTON (Reuters) - President Donald Trump ...,politicsNews,"May 11, 2017",0
4500,Louisiana Cop Claims Murdering A 6-Year Old C...,A Louisiana deputy city marshal is in hot wate...,News,"September 23, 2016",1

In [33]:
final.shape

(44898, 5)

In [35]:
final["subject"].unique()

array(['left-news', 'politics', 'worldnews', 'News', 'politicsNews',
       'Middle-east', 'Government News', 'US_News'], dtype=object)

In [41]:
final.to_csv("Data/fake_real_news.csv", index=False)

In [43]:
f_r = pd.read_csv("Data/fake_real_news.csv")

In [45]:
f_r.head()

,title,text,subject,date,target
0,GERMAN RESIDENTS FIGHT BACK: Anti-Islamic Song...,Apparently these Germans are not interested in...,left-news,"Jan 3, 2016",1
1,(VIDEO) BRAVO! TV HOST SCORCHES OBAMA FOR HIS ...,I VE HAD IT!,politics,"Jul 20, 2015",1
2,Greek president tells Turkey's Erdogan no trea...,ATHENS (Reuters) - Greek President Prokopis Pa...,worldnews,"December 7, 2017",0
3,Colbert Scorches Trump’s Anti-Trans Bigotry; ...,"During his campaign, Donald Trump promised tha...",News,"February 24, 2017",1
4,"Pentagon chief, Saudi deputy crown prince disc...",WASHINGTON (Reuters) - U.S. Defense Secretary ...,politicsNews,"March 16, 2017",0

In [37]:
df_dumies = pd.get_dummies(final, columns=["subject"])

In [39]:
df_dumies.head()

,title,text,date,target,subject_Government News,subject_Middle-east,subject_News,subject_US_News,subject_left-news,subject_politics,subject_politicsNews,subject_worldnews
21167,GERMAN RESIDENTS FIGHT BACK: Anti-Islamic Song...,Apparently these Germans are not interested in...,"Jan 3, 2016",1,False,False,False,False,True,False,False,False
15449,(VIDEO) BRAVO! TV HOST SCORCHES OBAMA FOR HIS ...,I VE HAD IT!,"Jul 20, 2015",1,False,False,False,False,False,True,False,False
36358,Greek president tells Turkey's Erdogan no trea...,ATHENS (Reuters) - Greek President Prokopis Pa...,"December 7, 2017",0,False,False,False,False,False,False,False,True
2402,Colbert Scorches Trump’s Anti-Trans Bigotry; ...,"During his campaign, Donald Trump promised tha...","February 24, 2017",1,False,False,True,False,False,False,False,False
28380,"Pentagon chief, Saudi deputy crown prince disc...",WASHINGTON (Reuters) - U.S. Defense Secretary ...,"March 16, 2017",0,False,False,False,False,False,False,True,False